if SHIELD_HAWKV02_LEFT

config ZMK_KEYBOARD_NAME
    default "HawkV02"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HAWKV02_LEFT || SHIELD_HAWKV02_RIGHT
    
config ZMK_SPLIT
    default y

endif
